*{
    margin: 0px;
}
body{
    margin: 0px;
    font-family: sans-serif,'Monotserrat';
}
.container{
    background-color:#d5eeff;
}
.head h1{
    font-family: 'Sacramento',cursive;
    font-size: 60px;
    line-height: 2;
}
.head p{
    font-family: 'Monotserrat';
    font-size: 25px;
    color: #66BFBF;
}

.cloud{
    width: 200px;
    position:relative;
    left: 200px;
}
.head{
    width: 300px;
    text-align: center;
    margin: 0 auto 0 auto;
}
.cloud1{
    width: 200px;
    position:relative;
    left:900px;
    padding-top:40px;
}
.mountain{
    width: 1000px;
    position:relative;
    left: 120px;
    top: 25px;
}
.profile{
    position: relative;
    left: 550px;
    top: 35px;
}
.learn{
    height: 700px;
    line-height: 2;
    width: 100%;
    background-color: #d4f1e9;
}
.heading2{
    margin: 1px auto 20px auto;
    width: 270px;
    text-align: center;
    padding-top: 25px;
}
.pic{
    width: 250px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
}
.same{
    width: 350px;
    height: 300px;
    position:absolute;
    margin-top: 90px;
}
.channel{
    
}
.resource{
    left: 500px;
}
.plateform{
    left: 915px;
}
.comp{
    width: 200px;
    text-align: center;
    margin: 20px auto 40px auto;
}
.compiler{
    line-height: 2;
    height: 300px
}
.compiler li,ul{
    width: 200px;
}
.on{
    position: absolute;
    left: 100px;
}
.off{
    position: relative;
    left: 800px;
    bottom: 32px;
    width: 250px;
}
h1,h2{
    color:#66BFBF;
}
.profile{
    height: 200px;
    width: 200px;
}
.profile img{
    width: 200px;
    margin-top: 90px;

}
.proname{
    width: 700px;
    border: 2px double black;
    position: relative;
    text-align: center;
    right: 250px;
    top: 125px;
}
.middle-container{
    height: 650px;
    background-color: #d4f1e9;
}
h3,a{
    color:#11999E;
}
h2{
    font-weight: normal;
}
.skills{
    text-align: center;
    margin-top: 60px;
}
.gif1{
    width: 200px;
    height:200px;
    border-radius: 50%;
    margin:35px auto 30px auto; 
    float: left;
    border: 2px solid black;
}
.gif2{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 50%;
    margin:35px auto 30px auto; 
    float: left;
}
.skill-row{
    width: 50%;
    margin:0px auto 0px auto;
    text-align: left;
    height: 300px;
}
.gif{
    position:relative;
    top: 45px;
    left: 20px;
    width: 90%;
    line-height: 2;
}
.contact-me{
    line-height: 2;
    text-align: center;
    margin:100px auto 100px auto;
    height: 200px;
}
.btn{
    background-color: #219F94;
    color:aliceblue;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    padding: 8px;
    position: relative;
    top: 32px;
}
.btn:hover{
    background-color: #146356;
}
.footer{
    text-align:center;
    line-height: 2;
    word-spacing: 10px;
    letter-spacing: 2px;
    background-color: #88ca9e;
}
.footer a{
    text-decoration: none;
}
.footer p{
    color: #22577A;
}
.footer a:hover{
    color:white;
}
hr{
    border: 6px dotted #84adad;
    border-bottom: none;
    width: 4%;
    margin:0px auto 0px auto;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
.table{
    height: 725px;
    line-height: 2;
}
.table h1{
    text-align: center;
    padding: 20px;
}
.table p,ol{
    margin-left: 30px;
}
.web-skill{
    width: 35%;
    position:absolute;
    left: 700px;
    margin-left: 30px;
    margin-top: 50px;
}
.back-skill{
    width: 35%;
    margin-left: 100px;
    margin-top: 50px;
}